<form>
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Delete Coupon</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label  class="control-label pt-2" style="font-size:20px;">Coupon Code</label>
            </div>
            <div class="col-10 pb-3">
                <input  disabled="true" value={{coupon.CouponCode}}/>
            </div>
            
            <div class="col-2">
                <label  class="control-label pt-2" style="font-size:20px;">Discount Amount</label>
            </div>
            <div class="col-10 pb-3">
                <input  disabled="true" value={{coupon.DiscountAmount}}/>
            </div>
            
            <div class="col-2">
                <label  class="control-label pt-2" style="font-size:20px;">Minimum Amount</label>
            </div>
            <div class="col-10 pb-3">
                <input  disabled="true" value={{coupon.MinAmount}}/>
            </div>
            
            <div class="col-5 offset-2">
                <button type="button" class="btn-primary btn" (click)="activeModal.close('Close click')">Back to List</button>
            </div>
            <div class="col-5">
                <button type="button" value="Delete" class="btn btn-danger" (click)="onSubmit()">Delete</button>
            </div>
        </div>
    </div>
</form>